:root {
    --first-color: #2a3d86;
    --second-color: #ed5753;
    --third-color: #f5a42c;
}

.has-shade {box-shadow: 2px 2px 9px 4px rgba(0, 0, 0, .1); -moz-box-shadow: 1px 1px 9px 4px -moz-rgba(0, 0, 0, .1); -webkit-box-shadow: 1px 1px 9px 4px rgba(0, 0, 0, .1)}
.subtle-shade {box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .15); -moz-box-shadow: 0 1px 2px 0 -moz-rgba(0, 0, 0, .15); -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .15)}
.text-has-shade {text-shadow: 1px 2px 2px rgba(0, 0, 0, .15)}
.inner-shade {box-shadow: inset 0 1px 3px rgba(0, 0, 0, .15); -moz-box-shadow: inset 0 1px 3px -moz-rgba(0, 0, 0, .15); -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .15)}


.tax.selected {border: 2px #e91e63 solid}
.tax, .ik-li {background: #fff; border-bottom: 1px solid #eee;display: block;float: left;padding: 10px;width: 100%;transition: border .1s;}
.ik-li.clearfix {border-bottom: none}
.tax:hover, .ik-li:hover {background: #f8f8f8}
.tax.active, .ik-li.active {background: #f8f6f6;}
.tax .photo, .ik-li .image {background: no-repeat center;background-size: cover;float: left;height: 60px;width: 60px;border-radius: 3px;}
.tax .photo, .ik-li .image.rounded {border-radius: 30px; overflow: hidden; margin-top: 12px}
.tax .info, .ik-li .info {float: left;margin-left: 10px;max-width: 225px;width: auto;}
.tax .full_name, .ik-li .name, .ik-li .title {cursor: pointer;color: #333;font-size: 15px;padding: 5px 0 0;}
.tax .about, .ik-li .about {color: #888;font-size: 13px;}

.checks {/* padding: 12px 7px; */height: 60px;width: 60px;margin-top: 5px;border-radius: 60px;margin-right: 10px;line-height: 44px;text-align: center;}
.checks .badge {background-color: #ea0834; color: #fff; font-size: 13px; display: block; right: -21px; top: -57px; width: 26px; border-radius: 7px; text-align: center;}
.checks .fa-list  {font-size: 22px;color: #fff;}

.floating-button{position: fixed; bottom: 10px; right: 0;}
#do-pay {margin-top: 30px}