{% extends "core/base_admin.html" %}
{% load i18n cache auth_tokens %}

{% block app_admin_nav %}
    <ul class="nav nav-pills nav-stacked">
        {% if perms.pinsview.ik_manage_tax %}
            <li role="presentation" class="banners">
                <a href="{% url 'council:change_banner' %}">{% trans "Banner" %}</a>
            </li>
        {% endif %}
        {% if perms.council.ik_view_dashboard %}
            <li role="presentation" class="dashboard">
                <a href="{% url 'ikwen:dashboard' %}">{% trans "Dashboard" %}</a>
            </li>
        {% endif %}
        {% if perms.council.ik_manage_category %}
            <li role="presentation" class="categories">
                <a href="{% url 'council:category_list' %}">{% trans "Business Types" %}</a>
            </li>
        {% endif %}
        {% if perms.council.ik_view_profile %}
            <li role="presentation" class="profiles">
                <a href="{% url 'council:profile_list' %}">{% trans "Profiles" %}</a>
            </li>
        {% endif %}
{#        {% if perms.pinsview.ik_manage_payment_order %}#}
{#            <li role="presentation" class="paymentorders">#}
{#                <a href="{% url 'council:paymentorder_list' %}">{% trans "Payment Orders" %}</a>#}
{#            </li>#}
{#        {% endif %}#}
        <li role="presentation" class="parking">
            <a href="javascript:;" data-toggle="collapse" data-target="#parking"
               aria-expanded="true" style="padding-right: 0;">Parking
                <i class="fa fa-fw fa-caret-down"></i>
            </a>
            {% if perms.pinsview.ik_manage_pins or perms.pinsview.ik_setup_pinsview %}
                <ul id="parking" class="nav nav-pills nav-stacked collapse" aria-expanded="true" style="padding-left: 15px">
                    {% if perms.council.ik_manage_product %}
                        <li role="presentation" class="products">
                            <a href="{% url 'council:tax_list' %}">{% trans "Taxes" %}</a>
                        </li>
                    {% endif %}
                    {% if perms.council.ik_manage_subscription %}
                        <li role="presentation" class="checks">
                            <a href="{% url 'council:check_list' %}">{% trans "Checks" %}</a>
                        </li>
                    {% endif %}
                    {% if perms.council.ik_manage_subscription %}
                        <li role="presentation" class="subscriptions">
                            <a href="{% url 'billing:subscription_list' %}">{% trans "Subscriptions" %}</a>
                        </li>
                    {% endif %}
                    {% if perms.council.ik_manage_payment %}
                        <li role="presentation" class="payments">
                            <a href="{% url 'billing:payment_list' %}">{% trans "Payments" %}</a>
                        </li>
                    {% endif %}
                </ul>
            {% endif %}
        </li>
        <li role="presentation" class="geolocation">
            <a href="javascript:;" data-toggle="collapse" data-target="#geolocation"
               aria-expanded="true" style="padding-right: 0;">Pinsview
                <i class="fa fa-fw fa-caret-down"></i>
            </a>
            {% if perms.pinsview.ik_manage_pins or perms.pinsview.ik_setup_pinsview %}
                <ul id="geolocation" class="nav nav-pills nav-stacked collapse" aria-expanded="true" style="padding-left: 15px">
                    {% if perms.pinsview.ik_manage_pins %}
                        <li role="presentation" class="pins">
                            <a href="{% url 'pinsview:pin_list' %}">{% trans "Pins" %}</a>
                        </li>
                    {% endif %}
                    {% if perms.pinsview.ik_setup_pinsview %}
                        <li role="presentation" class="pin-categories">
                            <a href="{% url 'pinsview:pincategory_list' %}">{% trans "Pin categories" %}</a>
                        </li>
                        <li role="presentation" class="cities">
                            <a href="{% url 'pinsview:city_list' %}">{% trans "Locations" %}</a>
                        </li>
                    {% endif %}
                    <div class="divider"></div>
                    <li class="logeventtypes">{% url 'pinsview:logeventtype_list' as log_event_type_list_url %}
                        <a href="{{ log_event_type_list_url }}">{% trans "Log Event Types" %}</a>
                    </li>
                    <li class="logevents">{% url 'pinsview:assetlog_list' as asset_log_list_url %}
                        <a href="{{ asset_log_list_url }}">{% trans "Assets Log" %}</a>
                    </li>
                </ul>
            {% endif %}
        </li>
        <li role="presentation" class="applications">
            <a href="javascript:;" data-toggle="collapse" data-target="#applications"
               aria-expanded="true" style="padding-right: 0;">{% trans "Applications" %}
                <i class="fa fa-fw fa-caret-down"></i>
            </a>
            {% if perms.council.ik_manage_wedding or perms.council.ik_setup_manage_wedding or perms.council.ik_setup_manage_building_licence or perms.council.ik_manage_invoice %}
                <ul id="applications" class="nav nav-pills nav-stacked collapse" aria-expanded="true" style="padding-left: 15px">
                    {% if perms.council.ik_manage_wedding %}
                        <li role="presentation" class="wedding-applications">
                            <a href="{% url 'council:wedding_application_list' %}">{% trans "Weddings" %}</a>
                        </li>
                    {% endif %}
                    {% if perms.council.ik_setup_manage_wedding %}
                        <li role="presentation" class="building-licence-applications">
                            <a href="{% url 'council:building_licence_list' %}">{% trans "Building Licences" %}</a>
                        </li>
                    {% endif %}
                    {% if perms.council.ik_setup_manage_building_licence %}
                        <li role="presentation" class="projects">
                            <a href="{% url 'council:project_list' %}">{% trans "Projects" %}</a>
                        </li>
                    {% endif %}
                    {% if perms.council.ik_manage_invoice %}
                        <li role="presentation" class="invoices">
                            <a href="{% url 'billing:invoice_list' %}">{% trans "Invoices" %}</a>
                        </li>
                    {% endif %}
                </ul>
            {% endif %}
        </li>
        {% if perms.echo.ik_manage_messaging %}
            <li role="presentation" class="messaging-campaign">
                <a href="javascript:;" data-toggle="collapse" data-target="#messaging-campaigns"
                   aria-expanded="true" style="padding-right: 0;">
                    {% trans "Messaging Campaigns" %}
                    <i class="fa fa-fw fa-caret-down"></i>
                </a>
                <ul id="messaging-campaigns" class="nav nav-pills nav-stacked collapse" aria-expanded="true"
                    style="padding-left: 15px">
                    <li class="sms-campaigns">{% url 'echo:sms_campaign' as sms_campaign_url %}
                        <a href="{{ sms_campaign_url }}">{% trans "SMS" %}</a>
                    </li>
                    <li class="mail-campaigns">{% url 'echo:mailcampaign_list' as mail_campaign_url %}
                        <a href="{{ mail_campaign_url }}">
                            {% trans "Mail" %}
                            <span class="label label-danger" style="text-transform: capitalize">New</span>
                        </a>
                    </li>
                </ul>
            </li>
        {% endif %}
    </ul>
{% endblock %}
