{% load i18n static cache %}

<meta name="theme-color" content="#233682">

<meta name="msapplication-TileColor" content="#233682">
<meta name="msapplication-navbutton-color" content="#233682">
<meta name="msapplication-TileImage" content="{% static 'council/img/cameroon-council-logo-180x180.png' %}">
{#<meta name="msapplication-TileImage" content="{% static 'doing/img/job_config-144x144.png' %}">#}

<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="#233682">

<link rel="apple-touch-icon" sizes="180x180" href="{% static 'council/img/cameroon-council-logo-180x180.png' %}">
{#<link rel="apple-touch-icon" sizes="180x180" href="{% static 'doing/img/job_config-180x180.png' %}">#}
{#<link rel="shortcut icon" type="image/png" href="{% static 'foulassi/icons/icon-192x192.png' %}">#}
<link rel="shortcut icon" type="image/png" sizes="144x144" href="{% static 'council/img/cameroon-council-logo-180x180.png' %}">
<link rel="icon" type="image/png" sizes="96x96" href="{% static 'council/img/cameroon-council-logo-180x180.png' %}">
{#<link rel="icon" type="image/png" sizes="96x96" href="{% static 'doing/img/doing-logo.png-96x96.png' %}">#}
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'council/img/cameroon-council-logo-180x180.png' %}">
{#<link rel="icon" type="image/png" sizes="32x32" href="{% static 'doing/img/doing-logo.png-32x32.png' %}">#}
