{% extends "core/base_bs.html" %}
{% load i18n staticfiles humanize auth_tokens %}

{% block page_title %}<title>{% trans "Book parking" %} - {{ service.project_name }} </title>{% endblock %}
{% block head_style %}
    {{ block.super }}
    <link rel='stylesheet' href="{% static 'ikwen/css/momo.css' %}?v=21.2.14" />
    <link rel='stylesheet' href="{% static 'council/css/parking.css' %}?v=21.8.12" />
{% endblock %}

{#{% block header_brand %}#}
{#    <a class="navbar-brand" href="javascript:;">#}
{#        {% if config.logo.name %}#}
{#            <img src="{{ settings.IKWEN_MEDIA_URL }}{{ config.logo.name }}" />#}
{#        {% endif %}#}
{#        <strong>{{ service.project_name }}</strong>#}
{#    </a>#}
{#{% endblock %}#}

{% block content %}
    <div id="content" class="container">
        <div class="visible-xs" style="float: left; width: 100%; padding: 15px 0"></div>
        <div id="checkout">
            <h3 class="pay-with"> {% trans "Parking lot registration" %} {{ payment_mean.name }} </h3>
            <form onsubmit="return false">{% csrf_token %}
                <div class="form-group" style="margin-top: 3.4em">
                    <label for="licence-plate">{% trans "Licence plate:" %}</label>
                    <input id="licence-plate" class="form-control input-md" type="text" name="licence_plate" autofocus placeholder="CE000AA"/>
                </div>
                <div class="form-group">
                    <div id="council-customer" class="co tpl">
                        <div class="form-group">
                            <label for="customer-name" class="">{% trans "User Account:" %}</label>
                            <div class="form-group" style="margin-top: 10px">
                                <input id="customer-name" class="form-control" type="text" autocomplete="off"/>
                                <input id="customer-id" type="hidden"/>
                                <div class="results customers has-shade" style="display: none;  width: inherit; position: absolute; z-index: 10000000000000" data-min-search-chars="2">
                                    {% include 'core/snippets/spinner.html' %}
                                    <ul style="padding-left: 0;">
                                        <li class="member tpl" style="display: none;">
                                            <div style="display: block">
                                                <span class="photo logo bg-img" style="background-image: url({% static 'ikwen/img/no_photo.png' %})"></span>
                                                <div style="float: left; margin-left: 30px">
                                                    <span class="full_name"></span>
                                                    <p class="about short_description"></p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="subscription-active notice text-info tpl" style="margin-top: 15px">
                    {% blocktrans %}Good! Your parking pass is active{% endblocktrans %}
                </p>
                <p class="no-parking-pass notice text-warning tpl" style="margin-top: 15px">
                    {% blocktrans %}You haven't yet subscribed to a parking pass{% endblocktrans %}
                </p>
                <p class="parking-pass-expired notice text-warning tpl" style="margin-top: 15px">
                    {% blocktrans %}Your parking pass subscription has expired since <span class="expired-date"></span>{% endblocktrans %}
                </p>
                <div class="form-group">
                    <button id="check" class="btn btn-primary btn-block btn-md">
                        {% include 'core/snippets/button_spinner.html' %}
                        <span class="cta-name">{% trans "Check" %}</span>
                    </button>
                    <div class="clearfix"></div>
                </div>
                <div>
                    <div class="clearfix"></div>
                    <span class='error-message text-danger tpl'>{% trans 'Error: Invalid licence plate' %}</span>
                </div>
                <div class="clearfix"></div>
            </form>
        </div>
        <div class="pull-right floating-button">
            <a href="{% url 'council:check_list' %}" class="circle checks btn btn-primary has-shade"><span class="fas fa-list"></span><span class="badge badge-info">{{ check_count }}</span></a>
        </div>
        <div class="clear"></div>
    </div>
    {#    Modal declaration : BEGIN #}
    <div class="modal fade" id="select-tax" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-info">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" style="font-weight: 800">{% trans "Select a tax" %}</h3>
                </div>
                <div class="modal-body">
                    {% for tax in tax_list %}
{#                        style="margin: 20px 0; padding: 20px;" #}
                        <div class="tax ik-li {% if forloop.counter == 1 %}selected{% endif %}" data-product-id="{{ tax.id }}" data-cost="{{ tax.cost }}">
                            {% if tax.image %}
                                <a class="image rounded"
                                   style="background-image: url({% if tax.image.name %}{{ tax.image.url }}{% else %}{% static 'council/img/parking.jpg' %}{% endif %})"></a>
                            {% else %}
                                <a class="image rounded" style="background-image: url({% static 'council/img/parking.jpg' %})"></a>
                            {% endif %}
                            <div class="info">
                                <div class="name">
                                    <h4 class="">{{ tax.name }}</h4>
{#                                    <h4 class="visible-xs">{{ tax.name }}</h4>#}
                                </div>
                                <div class="about">
                                    <p style="margin-bottom: 0">
                                        <strong>{% trans "Cost" %}</strong>: {{ config.currency_symbol }} {{ tax.cost|intcomma }}
                                    </p>
                                    <p style="margin-bottom: 0">
                                        <span class="meta" style="margin-right: 10px">
                                            <strong>{% trans "Duration" %}</strong>:
                                            <span>{{ tax.duration_text }}</span>
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    {% endfor %}
                    <div class="col-sm-6 col-xs-12 pull-right">
                        {% with first_tax=tax_list|first %}
                            <button id="do-pay" class="btn btn-info btn-block btn-md payment-start" data-product-id="{{ first_tax.id }}" data-cost="{{ first_tax.cost }}">
                                {% include 'core/snippets/button_spinner.html' %}
                                <span>{% trans "Pay" %}</span>
                            </button>
                        {% endwith %}
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    {#    Modal declaration : END #}
    {% include 'billing/snippets/modal_payment_options.html' %}
{% endblock %}
{% block js %}
    {{ block.super }}
    <script type="text/javascript">
        (function() {
            $('#licence-plate').on('keyup change', (e) => {
                $('#check').removeClass('btn-info disabled').addClass('btn-primary');
                $(".error-message").hide();
                $(".notice").hide();
            });
            let _licencePlate;
            $('#check').on('click', (e) =>  {
                let _$btn = $(e.target);
                _licencePlate = $('#licence-plate').val();
                _$btn.addClass('processing');
                if (_licencePlate.length !== 7) {
                    $(".error-message").insertAfter($(e.target)).show();
                    _$btn.removeClass('processing');
                    return;
                }
                $.getJSON('', {'licence_plate': _licencePlate}, (data) => {
                    if (data.success){
                        if (data.status === 'Suspended' || data.status === 'Canceled' || data.status === 'Expired'){
                            let expiredDate = data.expired_date;
                            _$btn.removeClass('btn-primary').addClass('btn-green')
                                .attr({'id': 'renew', 'data-toggle': 'modal', 'data-target': '#select-tax'})
                                .find('.cta-name').text('Renew !');
                            $('.parking-pass-expired').fadeIn().find('.expired-date').text(expiredDate);
                            $('#council-customer').fadeIn();
                        }
                        if (data.status === 'Active'){
                            $('.subscription-active').fadeIn();
                            $('#check').addClass('disabled');
                        }
                    }
                    if (data.error) {
                        _$btn.removeClass('btn-primary').addClass('btn-green').attr({'id': 'pay-now', 'data-toggle': 'modal', 'data-target': '#select-tax'}).find('.cta-name').text('Pay now');
                        $('.no-parking-pass').fadeIn();
                        $('#council-customer').fadeIn();
                    }
                    _$btn.removeClass('processing');
                });
                return;
            });
            $('#renew, #pay-now').on('click', (e) => {
                $('#select-tax').modal('show');
                {#$('#select-tax').show();#}
            });
            $('.tax').on('click', function (){
                $('.tax').removeClass('selected');
                $(this).addClass('selected');
                let productId = $(this).data("product-id"), cost = $(this).data("cost"), memberId = $('#customer-id').val();
                $("#do-pay").attr({"data-product-id": productId, "data-cost": cost});
                $('#payment-amount').val(cost);
                $(`<input type='hidden' id='ref-id' name='licence_plate' value=${_licencePlate}>`).appendTo("#payment-start-flow");
                $(`<input type='hidden' id='customer-id' name='customer_id' value=${memberId}>`).appendTo("#payment-start-flow");
            });

            {% url 'ikwen:member_list' as list_members_url %}
            // Search a member with a given 4 characters of its full name
            $('.results.customers').on('click', 'li.member', function() {
                var customerId = $(this).data('id'),
                    customerName = $(this).find('.full_name').text();
                if (customerId && customerName) {
                    $('#customer-id').val(customerId);
                    $('#customer-name').val(customerName);
                    $('#stage .continue').prop('disabled', false);
                }
            }).css('width', $('#customer-name').css('width'));
            $('#customer-name').keyup(function() {
                var val = $(this).val();
                if (val.isValidEmail()) {
                    $('#customer-id').val('');
                    $('#customer-email').val(val);
                    $('#stage .continue').prop('disabled', false);
                } else {
                    $('#customer-email').val('');
                    $('#stage .continue').prop('disabled', true);
                }
            });
            var searchDescriptor = [{
                endpoint: '{{ list_members_url }}',
                resultTplSelector: '.results.customers li.member',
                maxChars: function() {
                    // The max number of characters that will be taken into consideration
                    // in the string typed by user to do the search. Characters above that
                    // limit will be ignored.
                    return Math.max($('#customer-name').val().length, 4);
                }
            }];
            $('.member').on('click', function (){
               $(this).parent().hide();
            });
            $('#customer-name').focusout(function() {$('.results.customers').fadeOut()});
            ikwen.setupSearch('#customer-name', '.results.customers', searchDescriptor);
        })()
    </script>
{% endblock %}