{% extends "website/base.html" %}

{% load i18n humanize static auth_tokens webdesign %}

{% block title %}
    <title>{% blocktrans with project_name=config.project_name %}Congratulations!!! Your building licence application has been submitted &centerdot; {{ project_name }}{% endblocktrans %}</title>
{% endblock %}

{% block page_content %}
    <div id="content" class="building-licence-application">
        <div class="container" style="padding-top: 12vh">
            <h2 class="text-center">{% trans "You successfully submit your builder licence application!" %}</h2>
            <div class="col-md-4" style="margin: auto; float: none">
                <a href="{{ invoice_url }}" class="btn btn-sm btn-block btn-deep-blue">{% trans "Pay now" %}</a>
            </div>
        </div>
    </div>
{% endblock %}


