{% extends "website/base.html" %}

{% load i18n humanize static auth_tokens webdesign %}

{% block title %}
    <title>{% blocktrans with project_name=config.project_name %}Congratulations!!! Your wedding application has been created &centerdot; {{ project_name }}{% endblocktrans %}</title>
{% endblock %}

{% block head_style %}
    {{ block.super }}
    <link href="{% static 'ikwen/css/uploader-single.css' %}?v=20.8.17" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}

{% block page_content %}
    <div id="content" class="wedding-application">
        <div class="container" style="padding-top: 12vh">
            <h2 class="text-center">{% trans "You successfully submit your wedding application!" %}</h2>
            <div class="col-md-4" style="margin: auto; float: none">
                <a href="{{ invoice_url }}" class="btn btn-sm btn-block btn-deep-blue">{% trans "Pay now" %}</a>
            </div>
        </div>
    </div>
{% endblock %}


