{% extends 'website/base.html' %}
{% load i18n humanize static auth_tokens webdesign %}

{% block title %}
    <title>{% trans 'Edit your profile' %}</title>
{% endblock %}
{% block page_content %}
    <div id="content" class="profile">
        <h2 class="title main-title text-center">{% trans 'Edit your profile' %}</h2>
        {% for msg in messages %}
            <p class="success" style="padding: 9px">{{ msg }}</p>
        {% endfor %}
        {% if errors %}
            <div class="error-report">
                {{ errors }}
            </div>
        {% endif %}

        <div class="container">
            <form class="col-sm-6" style="float: none; margin: auto" method="post">{% csrf_token %}
                <input type="hidden" id="id-member" name="member" value="{{ user.id }}">
                <input type="hidden" id="id-type" name="type">
                <div class="citizen">
                    <h4 class="main-title" style="">{% trans "Citizen info" %}</h4>
                    <div class="form-group-md">
                        <label for="id-id_number">{% trans 'ID Number:' %}</label>
                        <input id="id-id_number" type="text" class="input-md form-control" name="id_number" {% if obj.id_number %}value="{{ obj.id_number }}"{% endif %}>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group-md">
                        <label for="id-location">{% trans 'Location:' %}</label>
                        <div class="clearfix"></div>
                        <span id="show-location" style="margin: 10px 0"></span>
                        {% if request.GET.lat %}
                            <p>
                                <strong style="color: #0a4b3e">{{ request.GET.formatted_address }}</strong>
                                <p style="font-size: 14px">
                                    <span>{% trans "Do you wanna change it ?" %}</span>
                                    <a href="{% url 'council:maps' %}" class="set-location" style="margin: 10px 0; line-height: 25px">{% trans 'Update location' %}</a>
                                </p>
                            </p>
                        {% else %}
                            {% if obj.formatted_address %}
                                <p>
                                    <strong style="color: #0a4b3e">{{ obj.formatted_address }}</strong>
                                    <p style="font-size: 14px">
                                        <span>{% trans "Do you wanna change it ?" %}</span>
                                        <a href="{% url 'council:maps' %}" class="set-location" style="margin: 10px 0; line-height: 25px">{% trans 'Update location' %}</a>
                                    </p>
                                </p>
                            {% else %}
                                <a href="{% url 'council:maps' %}" class="set-location btn btn-sm btn-outline-success" style="margin: 10px 0; line-height: 25px">{% trans 'Set location' %}</a>
                            {% endif %}
                        {% endif %}
                        <div class="clearfix"></div>
                    </div>
                    <input type="hidden" id="id-lat" name="location_lat" value="{% if request.GET.lat %}{{ request.GET.lat }}{% else %}{% if obj.location_lat %}{{ obj.location_lat }}{% endif %}{% endif %}">
                    <input type="hidden" id="id-lng" name="location_lng" value="{% if request.GET.lat %}{{ request.GET.lng }}{% else %}{% if obj.location_lng %}{{ obj.location_lng }}{% endif %}{% endif %}">
                    <input type="hidden" id="id-formatted-address" name="formatted_address" value="{% if request.GET.formatted_address %}{{ request.GET.formatted_address }}{% else %}{% if obj.formatted_address %}{{ obj.formatted_address }}{% endif %}{% endif %}">
                    <div class="clearfix"></div>
                </div>
                <div class="divider"></div>
                <div class="merchant">
                    <h4 class="main-title" style="">{% trans "Merchant" %}</h4>
                    <div class="form-group-md">
                        <label for="id-taxpayer">{% trans 'Taxpayer:' %}</label>
                        <input id="id-taxpayer" type="text" class="input-md form-control" name="taxpayer" {% if obj.taxpayer %}value="{{ obj.taxpayer }}{% endif %}">
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
{#                <div class="divider"></div>#}
                <div class="business-man">
                    <h4 class="main-title">{% trans 'Business man' %}</h4>
                    <div class="form-group-md">
                        <label for="id-business_type">{% trans 'Business type:' %}</label>
                        <select id="id-business_type" name="business_type" class="form-control">
                            {% for category in category_list %}
                                <option value="{{ category.id }}" {% if obj.category %}selected {% else %} {% if forloop.counter == 1 %}selected{% endif %}{% endif %}>{{ category.name }}</option>
                            {% endfor %}
                        </select>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group-md">
                        <label for="id-company_name">{% trans 'Company name:' %}</label>
                        <input id="id-company_name" type="text" class="input-md form-control" name="company_name" {% if obj.company_name %}value="{{ obj.company_name }}"{% endif %}>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-sm-7" style="margin: auto; float: none">
                    <button class="btn btn-sm btn-block btn-deep-blue">{% trans "Save" %}</button>
                </div>

                <div class="clearfix"></div>
            </form>
        </div>
        <div class="clearfix"></div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
        (() => {
            $('.prompt-login').click(() => {
               let image = '{% static 'ikwen/img/login-to-proceed.jpg' %}',
                   title = "{% trans "Login required" %}",
                   message = "{% trans "Please, you need to login to proceed so that we know who is paying." %}",
                   url = "{% url 'ikwen:sign_in' %}?next={% url 'council:edit_profile' %}";
               ikwen.showNoticeDialog(image, title, message, url);
           });
            let taxpayer = localStorage.getItem('taxpayer'),
            companyName = localStorage.getItem('company_name'),
            businessType = localStorage.getItem('business_type'),
            idNumber = localStorage.getItem('id_number');
            if (taxpayer !== null && taxpayer !== '' && $('#id-taxpayer').val() === ''){
                $('#id-taxpayer').val(taxpayer);
            }
            if (companyName !== null && companyName !== '' && $('#id-company_name').val() === '') {
                $('#id-company_name').val(companyName);
            }
            if (idNumber !== null && idNumber !== '' && $('#id-id_number').val() === ''){
                $('#id-id_number').val(idNumber);
            }
            if (businessType !== null && businessType !== '' && $('#id-business_type').val() === '') {
                $('#id-business_type').val(businessType);
            }
            $('.set-location').on('click', () => {
                localStorage.setItem("id_number", $('#id-id_number').val());
                localStorage.setItem("taxpayer", $('#id-taxpayer').val());
                localStorage.setItem("business_type", $('#id-business_type').val());
                localStorage.setItem("company_name", $('#id-company_name').val());
                return;
            });
            {#$(location).on('change')#}
        })()
    </script>
{% endblock %}
