{% extends 'website/base.html' %}
{% load i18n humanize static auth_tokens webdesign media_from_provider %}

{% block page_title %}
<title>{{ service.project_name }} - ikwen CloudCouncil</title>
{% endblock %}

{% block page_content %}
    <div id="top-notice-ctnr" style="display: none">
        <span class="floating-notice has-shade" style="float: none; position: static"> Error goes here </span>
    </div>
    <div id="content">
        <div class="banner" style="background-image: url({% get_media_prefix %}{{ banner.image }})">
{#            <form id="edit-search" class="col-xs-12 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">#}
{#                <input id="city" type="text" class="form-control" name="city" placeholder="{% trans "Search marketplace" %}">#}
{#            </form>#}
            <div class="clearfix"></div>
        </div>
        <div class="container-fluid">
            <div id="#taxes">
                <h3 class="main-title text-center">{% trans "Pay your taxes..." %}</h3>
                <div id="results" class="results-stage" style="margin-top: 4vh">
                    {% include 'council/snippets/tax_list_results.html' %}
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div id="wedding-application">
            <div class="overlay">
                <div class="container text-center inner">
                    <h3 class="main-title text-has-shade">{% blocktrans %}Submit your wedding application{% endblocktrans %}</h3>
                    <a href="{% url 'council:submit_wedding_application' %}" class="btn btn-sm btn-outline-success action">{% trans 'Apply' %}</a>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="container-fluid">
            <div style="margin: 150px 0">
                <div class="col-sm-6 hidden-xs">
                    <h3 class="main-title">{% trans 'Digitalize your school and work easier together with Scolarfleet' %}</h3>
                    <div class="description">
                        {% blocktrans %}
                            Built with the idea of collaborative and social platform,
                            Scolarfleet lets staffs, teachers and parents connect and work together
                            to manage the school and students through these following features:
                        {% endblocktrans %}
                        <ul>
                            <li>{% trans 'Students follow up' %}</li>
                            <li>{% trans 'Scores input by teachers' %}</li>
                            <li>{% trans 'Online assignments' %}</li>
                            <li>{% trans 'Report cards generation' %}</li>
                            <li>{% trans 'Detailed Dashboard' %}</li>
                            <li>{% trans 'Also enable to connect & Share students discipline and work with parents' %}</li>
                        </ul>
                    </div>
                    <div class="row col-sm-6">
                        <a href="https://www.ikwen.com/foulassi/scolarfleet/deploy_cloud?is_council=true" class=" btn btn-block btn-deep-blue action">{% trans 'Deploy now' %}</a>
                    </div>
                </div>
                <div class="col-sm-6 hidden-xs" style="background-image: url({% static 'council/img/foulassi-student-follow-up-xs.png' %}); background-size: cover; background-position: center; height: 500px; width: 600px; padding: 135px 15px"></div>
                <div class="visible-xs">
                    <img class="img-responsive col-sm-6 " src="{% static 'council/img/foulassi-student-follow-up-xs.png' %}" style="">
                    <div class="col-sm-6">
                        <h3 class="main-title" style="">{% trans 'Digitalize your school and work easier together with Scolarfleet' %}</h3>
                        <div class="description" style="">
                            {% blocktrans %}
                                Built with the idea of collaborative and social platform,
                                Scolarfleet lets staffs, teachers and parents connect and work together
                                to manage the school and students through these following features:
                            {% endblocktrans %}
                            <ul>
                                <li>{% trans 'Students follow up' %}</li>
                                <li>{% trans 'Scores input by teachers' %}</li>
                                <li>{% trans 'Online assignments' %}</li>
                                <li>{% trans 'Report cards generation' %}</li>
                                <li>{% trans 'Detailed Dashboard' %}</li>
                                <li>{% trans 'Also enable to connect & Share students discipline and work with parents' %}</li>
                            </ul>
                        </div>
                        <div class="row col-sm-6" style="">
                            <a href="?is_council=true" target="_blank" class=" btn btn-block btn-deep-blue action" style="float: none; margin: auto;">{% trans 'Deploy now' %}</a>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div id="builder-licence-application">
            <div class="overlay">
                <div class="container text-center inner">
                    <h3 class="main-title text-has-shade">{% blocktrans %}Apply for a builder licence{% endblocktrans %}</h3>
                    <a href="{% url 'council:building_licence_application' %}" class="btn btn-sm btn-outline-success action">{% trans 'Apply' %}</a>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="container-fluid" style="background: #fff">
            <div style="padding: 100px 0;">
                <div class="col-sm-6 hidden-xs" style="background-image: url({% static 'council/img/online-shopping.jpg' %}); background-size: cover; background-position: center; height: 400px; width:600px"></div>
                <img class="img-responsive visible-xs" src="{% static 'council/img/online-shopping.jpg' %}">
                <div class="col-sm-6">
                    <h3 class="main-title">{% trans 'Reach more customers and sell all your stocks with Kakocase' %}</h3>
                    <div class="description">
                        {% blocktrans %}
                            Kakocase builds for you a persistent customer base and offers your products
                            to this community via continuous automated Mail and SMS reminders.
                            You should consider increasing your available stocks....
                        {% endblocktrans %}
                    </div>
                    <div class="row col-sm-6">
                        <a href="https://www.ikwen.com/tsunami/bundles?is_baf_council=true" target="_blank" class=" btn btn-block btn-deep-blue action">{% trans 'Deploy now' %}</a>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="edit-profile">
            <div class="container text-center inner">
                <h3 class="main-title">{% blocktrans with project_name=service.project_name %}Let the {{ project_name }} know who you are{% endblocktrans %}</h3>
                <a href="{% url 'council:edit_profile' %}" class=" btn btn-sm btn-outline-success action">{% trans 'Edit your profile' %}</a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
        (() => {
{#            {% if request.GET.failed %}#}
{#                ikwen.showFloatingNotice("{% blocktrans with name=request.GET.name %}Payment failed{% endblocktrans %}", 'failed');#}
{#            {% else %}#}
{#                ikwen.showFloatingNotice("{% blocktrans with name=request.GET.name %}You successfully paid your tax {{ name }}{% endblocktrans %}");#}
{#            {% endif %}#}
        })()
    </script>
{% endblock %}
