{% extends "website/base.html" %}

{% load i18n humanize static auth_tokens webdesign %}

{% block title %}
    <title>{% blocktrans with project_name=config.project_name %}Submit building licence application &centerdot; {{ project_name }}{% endblocktrans %}</title>
{% endblock %}

{% block head_style %}
    {{ block.super }}
    <link href="{% static 'ikwen/css/uploader-single.css' %}?v=20.8.17" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}

{% block head_js %}
    <script src="{% static 'ikwen/js/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'ikwen/ajaxuploader/js/fileuploader.js' %}"></script>
{% endblock %}

{% block page_content %}
    <div id="content" class="building-licence">
        <div class="head">
            <div class="overlay">
                <h2 class="title main-title text-center">{% trans 'Apply for a builder licence' %}</h2>
            </div>
        </div>
        {% for msg in messages %}
            <p class="success" style="padding: 9px">{{ msg }}</p>
        {% endfor %}
        {% if errors %}
            <div class="error-report">
                {{ errors }}
            </div>
        {% endif %}
        <div class="warning warning-alerts submission-failed tpl" style="color: red">{% trans 'Failed to submit your application ...' %}</div>
        <div class="container">
            <form id="application" class="col-sm-6" style="float: none; margin: auto" method="post">{% csrf_token %}
                <input type="hidden" id="id-applicant" name="applicant" value="{{ user.id }}">
                <div class="container-fluid">
                    <div class="form-group-md">
                        {% for media_obj in media_field_list %}
                            {% if media_obj.field == 'property_certificate' %}
                                <label for="id-">{% trans 'Property certificate:' %}</label>
                            {% elif media_obj.field == 'urbanism_certificate' %}
                                <label for="id-spouse">{% trans 'Recent urbanism certificate:' %}</label>
                            {% elif media_obj.field == 'ground_plan' %}
                                <label for="id-spouse">{% trans "Ground Plan:" %}</label>
                            {% elif media_obj.field == 'location_plan' %}
                                <label for="id-spouse">{% trans "Location plan:" %}</label>
                            {% elif media_obj.field == 'estimate'%}
                                <label for="id-spouse">{% trans "Estimate:" %}</label>
                            {% endif %}
                            <div class="form-group" style="padding-left: 0; margin-right: 15px">
                                <div>
                                {% with media=media_obj %}
                                    {% include 'core/snippets/media_uploader_single.html' %}
                                {% endwith %}
                                </div>
                            </div>
                            <p class="help clear">
                                {% if media.media.name and not media.media.field.read_only %}
                                <i class="glyphicon glyphicon-trash delete-media delete-media{{ media.counter }}" title="{% trans "Delete media" %}"></i>
                                <span>{{ media.media.field.help_text|safe }}</span>
                                {% else %}
                                <span>{{ media.media.field.help_text|safe }}</span>
                                {% endif %}
                            </p>
                        {% endfor %}
                        <div class="form-group">
                            <label for="estimate_cost">{% trans "Estimate cost:" %}</label>
                            <input type="number" class="input-md form-control" name="estimated_cost" placeholder="15000">
                        </div>
                        <div class="form-group">
                            <label for="administrative_procedure_cost">{% trans "Administrative procedure cost:" %}</label>
                            <input type="number" class="input-md form-control" name="administrative_procedure_cost" placeholder="45000">
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-sm-7" style="margin: auto; float: none">
                    <button class="btn btn-sm btn-block btn-deep-blue">{% trans "Save" %}</button>
                </div>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
{% endblock %}


{% block js %}
    {{ block.super }}
    <script>
        (() => {
          $('form#application').submit(() => {
              $("[type='file']").each((index, elmnt) => {
                  if  (elmnt.val() === '{% get_media_prefix %}' || elmnt.val() === ''){
                      let label = $("[type='file']").parent().find("label").text();
                      $('.submission-failed').show();
                      $('.submission-failed').clone().insertAfter('.submission-failed').text(label).show();
                      return false;
                  }
              });
          });
        })()
    </script>
{% endblock %}
